.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    word-wrap: break-word;
  }
  
  .articleByID {
    margin-top: 18vh;
  }
  
  .articleCard {
    font-family: "Namdhinggo", sans-serif;
    width: 80vw;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    text-align: left;
  
    border-bottom: 1px dotted grey;
  
    img {
      margin-right: 30px;
      border-radius: 10%;
      max-width: 290px;
      max-height: 205px;
    }
  
    a {
      text-decoration: none;
      border: solid 1.5px #11151c;
      border-radius: 30px;
      padding: 10px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .topicTab {
      display: inline-flex;
      margin: 5px 5px 5px 5px;
    }
  
    .activeTopicTab {
      display: inline-flex;
      margin: 5px 5px 5px 5px;
    }
  
    .articleCard {
      font-family: "Namdhinggo", sans-serif;
      width: 80vw;
      margin-bottom: 20px;
      padding: 20px;
      display: flex;
      text-align: left;
      flex-direction: column;
  
      border-bottom: 1px dotted grey;
  
      img {
        margin-right: 30px;
        border-radius: 10%;
        max-width: 320px;
        max-height: 205px;
      }
    }
  }
  
  .topic {
    color: #c54f64;
  }
  
  .articleByID {
    img {
      width: 100vw;
    }
  }
  
  .articleBody {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }