.darkMode {
    color: #ffffff;

    h2{
      color: #ffffff;
    }

    .topicTab {
      color: #ffffff;
    }
    .headerBar {
      background-color: #11151c;
      color: #ffffff;
    }
  
    .articleCard {
      a {
        color: #ffffff;
        border: solid 1.5px #ffffff;
      }
    }

    .navigationBar {
      color: #ffffff;
      background-color:#333;
    }
    
    .topicTab {
      color: #ffffff;
    }
  }
  