.filterBar {
    width: 100%;
    padding-top: 2vh;
    }
    
    select {
      min-width: 150px;
      background-color: white;
      display: inline-flex;
      font: inherit;
      line-height: 1.5em;
    
      -webkit-appearance: none;
    
      margin: 0px 5px 0px 5px;
      border: 0cap;
      padding: 5px 10px 5px 10px;
    
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }
    
    select:focus {
      background-image: linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: green;
      outline: 0;
    }
    
    option {
      margin-top: 20px;
      color: yellow;
    }
    
    @media only screen and (max-width: 640px) {
      .filterBar {
        justify-content: center;
      }
    
      select{
        margin-bottom: 10px;
      }
    }
    