.navigationBar {
  width: 100vw;
  color: #333;
  background-color: white;
  box-shadow: 0 4px 5px -5px gray;
  padding: 15px;
padding-top: 90px;
  box-sizing: border-box; 
}
  
  .topicTab {
    padding: 5px 10px 5px 10px;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    border-radius: 50px;
    color: #052b5f;
  }
  
  .activeTopicTab {
    padding: 5px 10px 5px 10px;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    background-color: #1b90c6;
    border-radius: 50px;
    color: #fff;
  }