.topicTop {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    align-items: center;
    margin: 20px;
    width: 95vw;
    height: 40vh;
    background: black;
    color: #fff;
    align-self: center;
    img {
      width: 50vw;
      height: 40vh;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      text-decoration: underline;
    }
    .topic {
      font-weight: bolder;
      color: #c54f64;
      background-color: #fff;
      padding: 5px;
      width: 150px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  
  .topicTopData{
    width: 50vw;
    margin-left: 5vw;
    padding-right: 5vw;
  }
  @media only screen and (max-width: 640px) {
    .topicTop {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      word-wrap: break-word;
    }
  }
  