#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Namdhinggo", sans-serif;
}

#granim-canvas {
  width: 200vw;
  height: 200vh;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

h4 {
  text-align: left;
  padding-left: 30px;

  hr {
    margin-left: 0;
    border: 1px solid #1b90c6;
    width: 30%;
  }
}

.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: white;
  color: #333;
  box-shadow: 0 4px 5px -5px gray;
  padding: 15px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.content {
  padding-top: 1.5vh;
}

.headerTools {
  grid-area: 1 / 5 / 2 / 6;
  align-items: end;
  button {
    margin-left: 10px;
  }
}

.headerTitle {
  font-family: "MostraOneBold", sans-serif;
  color: inherit;
  text-decoration: none;
  text-align: center;
  grid-area: 1 / 2 / 2 / 5;
}

.headerSpaceHolder {
  grid-area: 1 / 1 / 2 / 2;
  img {
    margin-right: 10px;
    border: solid #333;
    border-radius: 100%;
    width: 35px;
    height: 35px;
  }
  span {
    position: relative;
    top: -0.8em;
  }
}

.titleThe {
  font-size: smaller;
}

.titlePuffinRoom {
  font-size: x-large;
}

.loginButton {
  border: solid 0.2px #333;
  text-decoration: none;
  background-color: #1b90c6;
  padding: 8px 15px 8px 15px;
  color: #fff;
  border-radius: 5%;
}

.navigationBar{
padding-top: 5vh;
margin-top: 72px;
width: 100%;
height: 3vh;
color: #333;
}

.topicTab{
  padding: 5px 10px 5px 10px;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  border:solid #1B90C6;
  border-radius: 50px;
  color: #052B5F;
}

.activeTopicTab{
  padding: 5px 10px 5px 10px;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  border:solid #333;
  background-color: #1B90C6;
  border-radius: 50px;
  color: #FFF;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  word-wrap: break-word;
}

.articleCard {
  font-family: "Namdhinggo", sans-serif;
  width: 80vw;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  text-align: left;

  border-bottom: 1px dotted grey;

  img {
    margin-right: 30px;
    border-radius: 10%;
    max-width: 290px;
    max-height: 205px;
  }
}

@media only screen and (max-width: 640px) {
  .articleCard {
    font-family: "Namdhinggo", sans-serif;
    width: 80vw;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;

    border-bottom: 1px dotted grey;

    img {
      margin-right: 30px;
      border-radius: 10%;
      max-width: 320px;
      max-height: 205px;
    }
  }
}

.topic {
  color: #c54f64;
}

.articleByID {
  img {
    width: 100vw;
  }
}

.articleBody {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.commentCard {
  border-bottom: 1px dotted grey;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
  img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  button {
    float:right;
    right: 10px;
    border-radius: 100%;
    border: solid 0.5px #A53654;
    background-color: #F7B1A9;
    color: #6E143C ;
  }
}

.voteAndCommentBar {
  img {
    margin-left: 30px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  display: inline-flex;
}

.commentTitle {
  display: inline-flex;
  align-items: last baseline;
  margin: 0;
  margin-top: 15px;

  h4 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;

    hr {
      width: 150%;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.pagination button:hover {
  text-decoration: underline;
}

.pagination .current-page {
  background-color: #333;
  color: #fff;
  border-radius: 80%;
  padding: 5px 10px;
}

.newCommentCard {
  display: inline-flex;
  margin-left: 30px;
  img {
    border: solid 0.2px #333;
    border-radius: 100%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  button {
    color: inherit;
    text-decoration: none;
    background-color: #1b90c6;
    padding: 8px 15px 8px 15px;
    color: #fff;
    border-radius: 5%;
  }
}

input#newComment {
  border-radius: 10px;
  height: 5vh;
  width: 60vw;
  margin-right: 8px;
}

.alertBox {
  text-decoration: none;
  border: inset 0.5px #1b90c6;
  background-color: #d0f9fc;
  opacity: 0.5;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  color: #052b5f;
}

.newComment {
  text-align: left;
}
